<div class="d-flex justify-content-center">
  <div id="dimensione" class="bg-body-tertiary text-center">
    <img src="../../../assets/img/logo.png" alt="logo" />
    <h2 class="text-danger">Il tuo Autosalone di Fiducia</h2>
  </div>
</div>
<div class="container">
  <div class="row text-center">
     
              <div class="col-4">
                  <app-brand></app-brand>
              </div>
              <div class="col-4">
                  <app-brand></app-brand>
              </div>
              <div class="col-4">
                <app-brand></app-brand>
            </div>
          </div>
      </div>
 
      <div class="container">
        <div class="row text-center">
           
                    <div class="col-6">
                        <app-card></app-card>
                    </div>
                    <div class="col-6">
                        <app-card></app-card>
                    </div>
                    
                </div>
            </div>
       