<div class="container">
    <h1>Hey Boss, what's my task for the day?</h1>
    <div class="d-flex">
<div class="pe-2"><input class="btn btn-primary" type="button" value="All"></div>
<div class="pe-2"><input class="btn btn-primary" type="button" value="Done"></div>
<div class="pe-2"><input class="btn btn-primary" type="button" value="Undone"></div>
<div class="pe-2"><input class="btn btn-primary" type="button" value="Users"></div>
</div>


<div class="pt-4 d-flex">
<input class="form-control w-25 " type="search" placeholder="Search" aria-label="Search">
<button class="btn btn-outline-success" type="submit">Search</button>
 </div>
</div>
