<footer class="bg-warning">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <img src="../../../assets/img/logo.png" alt="logo" />
        <h5 class="text-danger">Il tuo Autosalone di Fiducia</h5>
        <h6 class="text-info-emphasis">Via del Cioccolato n6</h6>
        <h6 class="text-info-emphasis">Umpalandia</h6>
        <h6 class="text-info-emphasis">
          <span class="material-symbols-outlined pe-2">call</span>Cell:
          333.1234567
        </h6>
        <a class="text-info-emphasis" href="#"
          ><span class="material-symbols-outlined pe-2"> mail </span>Email:
          Umpalandia@gmail.Ciok</a
        >
      </div>

      <div class="col-4 d-flex justify-content-between align-items-center">
        <div class="border-end pe-5">
          <button type="button" class="btn btn-light text-danger-emphasis">
            Home
          </button>
        </div>
        <div class="border-end pe-5">
          <button type="button" class="btn btn-light text-danger-emphasis">
            Fiat
          </button>
        </div>
        <div class="border-end pe-5">
          <button type="button" class="btn btn-light text-danger-emphasis">
            Ford
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-light text-danger-emphasis">
            Audi
          </button>
        </div>
      </div>
    </div>
  </div>
</footer>
